= form_for @user do |f|
  - if @user.errors.any?
    .error-messages
      %h2 Form is invalid
      %ul
        - @user.errors.full_messages.each do |err|
          %li
            = err
  .row.collapse
    .small-3.columns
      = f.label :username, class: "inline"
    .small-9.columns
      = f.text_field :username
  .row.collapse
    .small-3.columns
      = f.label :password, class: "inline"
    .small-9.columns
      = f.password_field :password
  .row.collapse
    .small-3.columns
      = f.label :email, class: "inline"
    .small-9.columns
      = f.text_field :email
  %p.text-center
    = f.submit "Sign up", class: "button"
