= form_for @user do |f|
  .row.collapse
    .small-3.columns
      = f.label :username, class: "inline"
    .small-9.columns
      = f.text_field :username
  .row.collapse
    .small-3.columns
      = f.label :password, class: "inline"
    .small-9.columns
      = f.password_field :password
  %p.text-center
    = f.submit "Log in", class: "button"
