!!!

%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            = link_to "ShadyBox", root_url

      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li
            %a{href: "about"} About
          - if current_user
            %li
              = link_to "Logged in as #{current_user.username}"
            %li
              = link_to "Log out", log_out_path
          - else
            %li.has-form
              = form_tag sessions_path do
                .row.collapse
                  .large-4.small-4.columns
                    = text_field_tag :username, params[:username], placeholder: "Username"
                  .large-4.small-4.columns
                    = password_field :password, params[:password], placeholder: "Password"
                  .large-4.small-4.columns
                    = submit_tag "LOG IN!", class: "button tiny radius"
            %li
              = link_to "Sign up", sign_up_path



    .row
      .large-12.columns
        - flash.each do |type, msg|
          - haml_tag("div", msg, id: type )
    .row
      .large-12.columns
        = yield
    = javascript_include_tag "application"
